# Guia teorica y practica 2
ayuda.txt
C:\Users\leoro\OneDrive\Escritorio\Programacion III\Guia 2\GuiaTeoricayPractica2\GuiaTeoricayPractica2\obj
C:\Users\leoro\OneDrive\Escritorio\Programacion III\Guia 2\GuiaTeoricayPractica2\GuiaTeoricayPractica2\bin
GuiaTeoricayPractica2\GuiaTeoricayPractica2\obj
GuiaTeoricayPractica2\GuiaTeoricayPractica2\bin
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/
GuiaTeoricayPractica2/GuiaTeoricayPractica2/bin/
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj
GuiaTeoricayPractica2/GuiaTeoricayPractica2/bin
GuiaTeoricayPractica2/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
GuiaTeoricayPractica2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.AssemblyReference.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.AssemblyReference.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.Properties.Resources.resources
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.CoreCompileInputs.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.FileListAbsolute.txt
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.GenerateResource.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.exe
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.listView.resources
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.pdb
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.AssemblyReference.cache

# Trabajo Practico 1
TrabajoPractico1/TrabajoPractico1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TrabajoPractico1/TrabajoPractico1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TrabajoPractico1/TrabajoPractico1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TrabajoPractico1/TrabajoPractico1/bin/
TrabajoPractico1/TrabajoPractico1/obj/
TrabajoPractico1/TrabajoPractico1/obj/Debug/TrabajoPractico1.Ejercicio1.resources
TrabajoPractico1/TrabajoPractico1/obj/Debug/TrabajoPractico1.FormularioPrincipal.resources
TrabajoPractico1/TrabajoPractico1/obj/Debug/TrabajoPractico1.Properties.Resources.resources
TrabajoPractico1/TrabajoPractico1/obj/Debug/TrabajoPractico1.csproj.AssemblyReference.cache
TrabajoPractico1/TrabajoPractico1/obj/Debug/TrabajoPractico1.csproj.CoreCompileInputs.cache
TrabajoPractico1/TrabajoPractico1/obj/Debug/TrabajoPractico1.csproj.FileListAbsolute.txt
TrabajoPractico1/TrabajoPractico1/obj/Debug/TrabajoPractico1.csproj.GenerateResource.cache
TrabajoPractico1/TrabajoPractico1/obj/Debug/TrabajoPractico1.exe
TrabajoPractico1/TrabajoPractico1/obj/Debug/TrabajoPractico1.pdb
