ayuda.txt
C:\Users\leoro\OneDrive\Escritorio\Programacion III\Guia 2\GuiaTeoricayPractica2\GuiaTeoricayPractica2\obj
C:\Users\leoro\OneDrive\Escritorio\Programacion III\Guia 2\GuiaTeoricayPractica2\GuiaTeoricayPractica2\bin
GuiaTeoricayPractica2\GuiaTeoricayPractica2\obj
GuiaTeoricayPractica2\GuiaTeoricayPractica2\bin
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/
GuiaTeoricayPractica2/GuiaTeoricayPractica2/bin/
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj
GuiaTeoricayPractica2/GuiaTeoricayPractica2/bin
GuiaTeoricayPractica2/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
GuiaTeoricayPractica2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.AssemblyReference.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.AssemblyReference.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.Properties.Resources.resources
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.CoreCompileInputs.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.FileListAbsolute.txt
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.GenerateResource.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.exe
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.listView.resources
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.pdb
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GuiaTeoricayPractica2/GuiaTeoricayPractica2/obj/Debug/GuiaTeoricayPractica2.csproj.AssemblyReference.cache
